@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
body {
  background-image: url(../img/2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
}

#wrapper {
  padding: 10px;
}

#budget-wrapper {
  text-align: center;
  border-top: 2px solid #141415;
  border-bottom: 2px solid #141415;
  margin-bottom: 20px;
}

#form-wrapper {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #141415;
}

#month-year {
  font-family: "Gloria Hallelujah", cursive;
  color: #141415;
  font-weight: 800;
  font-size: 2em;
}

.minus {
  color: #6a1511;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2em;
}

.plus {
  color: #3b5115;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2em;
}

.overall-expenses {
  text-align: left;
  width: 300px;
  max-height: 25px;
  color: #6a1511;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: #faedec;
  border: 2px solid #6a1511;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto 10px auto;
}

.overall-income {
  text-align: left;
  width: 300px;
  max-height: 25px;
  color: #3b5115;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: #e5f2ce;
  border: 2px solid #3b5115;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto 10px auto;
}

#expenses-wrapper {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

#form-wrapper select,
#form-wrapper input {
  color: #141415;
  font-size: 1.3em;
  border-width: 2px;
  border-color: #141415;
  border-radius: 5px;
}

#form-wrapper button {
  background-color: transparent;
  border-style: none;
}

#form-wrapper > * {
  padding: 2px;
  margin: 10px;
}

option {
  color: #141415;
}

::-webkit-input-placeholder {
  color: #868280;
}

:-ms-input-placeholder {
  color: #868280;
}

::-ms-input-placeholder {
  color: #868280;
}

::placeholder {
  color: #868280;
}

#surplus,
#deficit {
  text-align: left;
  margin-bottom: 5px;
  padding: 20px;
}

span {
  float: right;
}

#surplus {
  background-color: #e5f2ce;
  border: 2px solid #3b5115;
  border-radius: 5px;
  color: #3b5115;
  font-family: "Poppins", sans-serif;
}

#surplus ul li:nth-of-type(even) {
  background-color: #c8e09f;
}

#deficit {
  background-color: #faedec;
  border: 2px solid #6a1511;
  border-radius: 5px;
  color: #6a1511;
  font-family: "Poppins", sans-serif;
}

#deficit ul li:nth-of-type(even) {
  background-color: #f3dbd9;
}

@media only screen and (min-width: 992px) {
  #expenses-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #surplus {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5px;
  }
  #deficit {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5px;
  }
}

.income-li,
.expenses-li {
  list-style-type: none;
  padding: 5px 30px 5px 30px;
}

.income-hr {
  border-color: #3b5115;
}

.expenses-hr {
  border-color: #6a1511;
}

.list-p {
  display: inline;
}

.list-def li button {
  background-color: transparent;
  border-style: none;
  color: #6a1511;
  opacity: 0;
}

.list-def li:hover button {
  opacity: 1;
}

.list-sur li button {
  background-color: transparent;
  border-style: none;
  color: #3b5115;
  opacity: 0;
}

.list-sur li:hover button {
  opacity: 1;
}

.percentage {
  margin: 0px 0px 0px 5px;
}

#clear {
  margin: 20px;
  background-color: transparent;
  border: 2px solid #141415;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #141415;
  font-weight: 700;
  font-size: 15px;
  float: right;
}

#invalid {
  background-color: #faedec;
  color: #6a1511;
  font-family: "Poppins", sans-serif;
  max-width: 200px;
  border: 2px solid #6a1511;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */